.container {
    margin-top: 30px;
  }
  
  .row {
    margin: 20px 0;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 100px;
  }
  
  .table th, .table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
  
  
  input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
  }
  
  
  .form-control:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
  }
  
  