<h3>Available Doctors are listed here ! </h3>
<br /><br />

<h2>Online</h2>

<table class="mat-elevation-z8">
  <thead>
    <tr>
      <th>Online Status</th>
      <th>Unavailable</th>
    </tr>
  </thead>
  <tbody>
    <!-- Available doctors -->
    <ng-container *ngIf="Doc1Visible">
      <tr *ngFor="let FakeDoc of FakeDocs1">
        <td [ngStyle]="{ backgroundColor: getColor() }">{{ FakeDoc }}</td>
      </tr>
    </ng-container>

    <ng-container *ngIf="Doc2Visible">
      <tr *ngFor="let FakeDoc of FakeDocs2">
        <td [ngStyle]="{ backgroundColor: getColors() }">{{ FakeDoc }}</td>
      </tr>
    </ng-container>
    <!-- Unavailable doctors -->
    <ng-container *ngIf="!Doc1Visible">
      <tr *ngFor="let FakeDoc of FakeDocs1">
        <td></td>
        <td [ngStyle]="{ backgroundColor: getColor() }">{{ FakeDoc }}</td>
      </tr>
    </ng-container>
  </tbody>
</table>

<button mat-raised-button color="primary" (click)="OnRefresh()">Refresh</button>

<div><br /><br /></div>

<mat-form-field>
  <mat-label>Enter the doctor name:</mat-label>
  <input matInput type="text" name="doctor" [(ngModel)]="DocName">
</mat-form-field><br>
<button mat-raised-button color="primary" (click)="OnDocName()">Submit</button>
