<form #myForm="ngForm" (ngSubmit)="OnDocSignUp(myForm.value)" class="doctor-signup-form">
    <mat-form-field class="form-field">
        <mat-label>First Name</mat-label>
        <input type="text" [(ngModel)]="doctor.firstName" name="firstName" matInput required>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Last Name</mat-label>
        <input type="text" [(ngModel)]="doctor.lastName" name="lastName" matInput required>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" [(ngModel)]="doctor.email" name="email" matInput required>
    </mat-form-field>

    <mat-form-field class="form-field">
        <mat-label>Medical Specialization</mat-label>
        <input type="text" [(ngModel)]="doctor.specialization" name="specialization" matInput required>
    </mat-form-field>

    <mat-checkbox class="availability-checkbox" [(ngModel)]="doctor.availability" name="availability">
        Available
    </mat-checkbox>

    <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
