<body>

    <div class="topnav">
      <a class="active" routerLink="">Home</a>
      <a routerLink="admin">Admin</a>
      <a routerLink="doctor/signup">Doctors</a>
      <a routerLink="patients/signup">Patients</a>
      <a routerLink="/about">About</a>
    </div>
    
    </body>

<div *ngIf="Introduction">
<h1>Welcome to Virtual HealthCare</h1>


  Are you a doctor or patient?
</div>


<div *ngIf="Introduction">
<button mat-raised-button  color="primary" (click)="OnDoctor()" >I am a doctor</button>

<button mat-raised-button (click)="OnPatient()">I am a patient</button>
</div>


<div *ngIf="DocClicked">
    <h1>Welcome to the Doctor Verification Quiz.</h1>
    <p>This quiz is designed to assess your medical knowledge and confirm your professional expertise. Please answer the following questions to verify your status as a qualified medical professional.</p>
  
    <form (ngSubmit)="SubmitForm()">
  
      <div *ngFor="let mcq of mcqs; let i=index">
        <mat-card class="mat-elevation-z4">
          <h3>{{ mcq.question }}</h3>
          <mat-radio-group [name]="'mcq'+i" [(ngModel)]="SelectedOptions[i]" class="vertical-radio-group">
            <mat-radio-button *ngFor="let option of mcq.options; let j=index" [value]="j">
              {{ option }}
            </mat-radio-button>
          </mat-radio-group>
        </mat-card>
        <br><br>
      </div>
  
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
  
  

  <div *ngIf="DocVerified" class="verification-message">
    <p class="congratulations-message">
      Congratulations on passing the MCQs test and becoming eligible for sign-up to our website! Your dedication and knowledge have brought you one step closer to joining our community of healthcare professionals. We look forward to having you on board and making a positive impact in the field of healthcare. Welcome aboard!
    </p>
    <br><br>
    <button mat-raised-button color="primary" (click)="OnDocJoin()">Join our community</button>
  </div>
  

<div *ngIf="PatientClicked">
    <h3>Welcome to the world of Care - Virtual HealthCare</h3>
    <p>Welcome to a world of care and compassion, where your health takes center stage. We're here to provide you with personalized medical support and guidance every step of the way. Your well-being is our priority, and we're excited to embark on this journey together towards a healthier and happier you.</p>
    <br><br>
    <button mat-raised-button color="primary" (click)="OnPatientStarted()">Get Started</button>
</div>